<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @application.user_id %>
</p>

<p>
  <strong>Current company:</strong>
  <%= @application.current_company %>
</p>

<p>
  <strong>Linkedin url:</strong>
  <%= @application.linkedin_url %>
</p>

<p>
  <strong>Portfolio url:</strong>
  <%= @application.portfolio_url %>
</p>

<p>
  <strong>Add info:</strong>
  <%= @application.add_info %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @application.gender %>
</p>

<p>
  <strong>Race:</strong>
  <%= @application.race %>
</p>

<p>
  <strong>Veteran:</strong>
  <%= @application.veteran %>
</p>

<p>
  <strong>Disability:</strong>
  <%= @application.disability %>
</p>

<p>
  <strong>Resume:</strong>
  <%= link_to "Download Resume", @application.resume_url %>
</p>

<p>
  <strong>Application Status:</strong>
  <%= @application.application_status %>
</p>

<% if current_user.id==@application.user_id || current_user.is_admin %>
  <%= link_to 'Edit', edit_application_path(@application) %>
  | <%= link_to 'Delete', @application, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<% if current_user.is_admin ||
    (current_user.is_recruiter && Job.find(@application.job_id).recruiter_id==current_user.id) %>
  | <%= link_to 'Change Status', edit_application_path(@application) %>
<% end %> |
<%= link_to 'Back', applications_path %>
