<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :recruiter_id, :value => current_user.id %>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.select :company_id, options_for_select(Company.select(:name,:id).where(id: current_user.company_id).collect{|c| [c.name,c.id]}) %><br/>


  </div>

  <div class="field">
    <%= form.label :job_description %>
    <%= form.text_area :job_description, id: :job_job_description %>
  </div>

  <div class="field">
    <%= form.label :employment_type %>
    <%= form.select :employment_type, options_for_select(['Full-Time', 'Part-Time', 'Internship', 'Contractor']) %>
  </div>

  <div class="field">
    <%= form.label :responsibilities %>
    <%= form.text_area :responsibilities, id: :job_responsibilities %>
  </div>

  <div class="field">
    <%= form.label :requirements %>
    <%= form.text_area :requirements, id: :job_requirements %>
  </div>

  <div class="field">
    <%= form.label :job_status %>
    <%= form.select :job_status, options_for_select(["Open", "Closed"], "Open") %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
