<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<table class = "table table-bordered table-striped">
  <thead>
  <tr>
    <th>Company</th>
    <th>Job description</th>
    <th>Employment type</th>
    <th>Responsibilities</th>
    <th>Requirements</th>
    <th>Job Status</th>
    <th>Options</th>
  </tr>
  </thead>

  <tbody>
  <% @jobs.each do |job| %>
    <tr>
      <td><%= Company.find(job.company_id).name %></td>
      <td><%= job.job_description %></td>
      <td><%= job.employment_type %></td>
      <td><%= job.responsibilities %></td>
      <td><%= job.requirements %></td>
      <td><%= job.job_status %></td>
      <td><%= link_to 'Show', job %>
        <% if current_user.is_admin || (current_user.is_recruiter && current_user.company_id == job.company_id)%>
          | <%= link_to 'Edit', edit_job_path(job) %>
        <% end %>
        <% if current_user.is_admin %>
          | <%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <% if current_user.is_recruiter && current_user.company_id == job.company_id %>
          | <%= link_to 'Close Job', company, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<br>
<% if current_user.is_recruiter? %>
  <%= link_to 'New Job', new_job_path %><br><br>
<%end%>
