<% provide(:title, "Menu") %>

<div class="jumbotron" style="text-align: center">
  <h2>What would you like to do?</h2>
  <br/>

  <% if current_user.is_admin? %>
    <%= link_to "Create new company", new_company_url  , class: "btn btn-md btn-primary"%>
    <br/><br/>
    <%= link_to "Create new user", '#'  , class: "btn btn-md btn-primary"%>
    <br/><br/>
    <%= link_to "View all users", '#'  , class: "btn btn-md btn-primary"%>
    <br/><br/>
    <%= link_to "View all applicants", '#'  , class: "btn btn-md btn-primary"%>
    <br/><br/>
  <% end %>

  <%= link_to "View all posted Jobs", jobs_url  , class: "btn btn-md btn-primary"%>
  <br/><br/>
  <%= link_to "View all Companies", companies_path  , class: "btn btn-md btn-primary"%>
  <br/><br/>

  <% if current_user.is_applicant? %>
    <%= link_to "View jobs I have applied to", jobs_url  , class: "btn btn-md btn-primary"%>
  <% end %>
</div>