<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class = "table table-bordered table-striped">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Is Applicant</th>
    <th>Is Recruiter</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.fname %></td>
      <td><%= user.lname %></td>
      <td><%= user.email %></td>
      <td><%= user.phone_no %></td>
      <td><%= user.is_applicant %></td>
      <td><%= user.is_recruiter %></td>

    </tr>
  <% end %>
  </tbody>
</table>

<br>
