<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class = "table table-bordered table-striped">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Applicant?</th>
    <th>Recruiter?</th>
    <th>Company</th>
    <th>Options</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.fname %></td>
      <td><%= user.lname %></td>
      <td><%= user.email %></td>
      <td><%= user.phone_no %></td>
      <td><%= user.is_applicant %></td>
      <td><%= user.is_recruiter %></td>
      <td><%= Company.select(:name).where(id: user.company_id).map(&:name).first %></td>
      <% if not user.is_admin %>
        <td><%= link_to 'Delete', {controller: 'users', action: 'destroy' , id: user.id},
                        data: { confirm: 'Are you sure?', method: :delete, remote: true } %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
